<div class="ui inverted huge borderless fixed fluid menu">
        <a class="header item">OKO Platform</a>
        <div class="right menu">
          <a class="item active">Dashboard</a>
          <a class="item">Profile</a>
          <a class="item">Help</a>
        </div>
</div>
<div class="ui grid">
    <div class="row">
      <div class="column" id="sidebar" style="width: 200px">
          <div class="ui secondary vertical fluid menu" >
              <div class="item"><h2>Content Provider</h2></div>
              <div class="ui hidden divider"></div>
              <a href="/dashboard" class="active item">Dashboard</a>
              <a href="/videos" class="item">Videos</a>
              <a href="/tags" class="item">Tags</a>
              <a href="/categories" class="item">Categories</a>
              <a href="/channels" class="item">Channels</a>
              <a href="/statistic" class="item">Statistics</a>
          </div>
      </div>